/* Navbar Styles*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-containers .logoimg {
  width: 120px;
  height: 70px;
  margin-left: 3rem;
  margin-top: 1.3rem;
}
.nav-link {
  margin-top: 20px;
}

.nav-link .link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
.nav-right{
  margin-right: 5rem;
}
.search-container {
  display: flex;
}

.srch {
  position: absolute;
  top: 1.6rem;
  right: 12rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.close-srch {
  cursor: pointer;
}
.srch-input-field {
  position: absolute;
  top: 1rem;
  right: 12rem;
  min-width: 320px;
  height: 40px;
  padding: 10px;
  border: none;
  color: #fff;
  background: #0a0a0a;
}
.srch-input-field:focus {
  border: 1px solid #fff;
}

/* drop-down */
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-Dropdown {
  width: 80px;
  border: none !important;
  background: transparent !important;
}

.icons {
  color: white !important;
  cursor: pointer;
  font-size: 30px !important;
}

/* account */

.icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.AvatarImg {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.drop-items {
  cursor: pointer !important;
}

.accountItemsIcons {
  color: white !important;
  padding: 0 13px 0 5px !important;
}

.icontxt {
  color: #fff;
}

.icontxt:hover {
  text-decoration: underline;
}

.last-Icon {
  text-align: center;
  border-top: 1px solid white;
  padding: 5px;
  padding-top: 10px;
}

.drop-icons {
  color: #b3b3b3 !important;
}

.menu-list {
  background-color: rgba(0, 0, 0, 0.9) !important;
  border: 1px solid hsla(0, 0%, 100%, 0.15) !important;
}
/* nav-left dropdown start*/
.dropdown {
  display: none;
}
.dropbtn {
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
.dropdown .dropbtn .menu-icon {
  font-size: large;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .mobile{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #fff;
}

.dropdown-content .mobile:hover {
  background-color: red;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* nav-left dropdown end*/

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    justify-content: start;
  }
  .nav-right{
    margin-right: 0;
  }
  .nav-link {
    display: none;
  }

  .logo-containers .logoimg {
    width: 80px;
    height: auto;
    margin-left: 0.1rem;
    margin-top: 1.3rem;
  }

  .srch {
    top: 1.4rem;
    left: 25rem;
    font-size: 1.3rem;
  }
  .srch-input-field {
    top: 4rem;
    left: 3rem;
    width: 100px;
  }
  
  .avatar {
    width: 25px;
    height: 25px;
  }

  .dropdown {
    display: block;
    margin-top: 0.1rem;
  }

  .nav-Dropdown .avatar {
     margin-left: 25rem !important;
    /* width: 10px !important;  */
  }
  }
@media only screen and (max-width: 568px) {
  .navbar {
    width: 100%;
    justify-content: start;
  }
  .nav-right{
    margin-right: 0;
  }
  .nav-link {
    display: none;
  }
  .logo-containers .logoimg {
    width: 120px;
    height: auto;
    margin-left: 0.1rem;
    margin-top: 1.3rem;
  }
  .srch {
    top: 1.8rem;
    left: 15rem;
    font-size: 1.2rem;
  }
  .srch-input-field {
    top: 4rem;
    left: 1rem;
    width: 100px;
  }
  .avatar {
    width: 25px;
    height: 25px;
  }
  .dropdown {
    display: block;
    margin-top: 0.1rem;
  }
 .dropdown .dropbtn .menu-icon{
    font-size: 1.5rem;
  }
  .nav-Dropdown .avatar {
    margin-left: 7rem !important;
    /* width: 10px !important; */
  }
}

/* navbar-end */

/* seacrch  */
.search-container {
  background-color: #111;
  /* padding-top: 5rem; */
  padding-left: 3rem;
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
}
/* seacrch end */

/* movie section */
.bg {
  background-color: #111;
  padding-top: 90px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.poster {
  margin: 0px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.poster-carts {
  margin: 5px;
  transition: transform 450ms;
}
.poster-carts:hover {
  transform: scale(1.09);
}
.poster-carts img {
  width: 200px;
  height: 250px;
}

/* account page */
.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.ac-container {
  width: 80%;
}
.ac-contents {
  display: flex;
  margin: 20px;
}
.ac-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 30px;
}
.spans {
  margin-top: 10px;
  width: 160px;
  color: #111;
  background-color: rgb(226, 220, 220);
  text-align: center;
}
.acc {
  margin-right: 15rem;
}
h5 {
  color: #b3b3b3;
  padding-top: 10px;
}
.ac-contents .icon {
  color: red;
  margin-left: 10px;
  margin-right: 3px;
  font-size: 20px;
}
h2 {
  color: #b3b3b3;
  font-size: medium;
}
.account-container hr {
  width: 100%;
}
.under-content {
  display: flex;
  padding-top: 4rem;
}
.under-content h5 {
  padding-top: 15px;
}
.under-content img {
  width: 50px;
  height: 50px;
}
.under-ct {
  padding-top: 65px;
}
.tag-p {
  color: blue;
  cursor: pointer;
}
.tag-p p {
  padding-top: 5px;
}
.tag-p p:hover {
  text-decoration: underline;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
  .account-container {
    margin-top: 4rem;
  }

  .ac-container {
    width: 90%;
  }

  .ac-content {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .acc {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .under-content img {
    width: 40px;
    height: 40px;
  }

  .under-ct {
    padding-top: 40px;
  }
}

/* password page */
.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.pass-container .pas-input {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 35px;
  padding: 5px;
  border: 1px solid gray;
}
.typecheck {
  display: flex;
  margin-top: 20px;
}
.typecheck p {
  padding-left: 10px;
}
.pass-ref {
  color: red;
  display: none;
}
.save {
  display: flex;
}
@media screen and (max-width: 768px) {
  .password-container {
    margin-top: 6rem;
    margin-left: 20px; 
    margin-right: 20px;
  }
  .password-container h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .pass-container .pas-input {
    height: 40px; 
    margin-top: 25px; 
  }

  .typecheck {
    margin-top: 15px; 
  }

  .pass-ref {
    display: none; 
  }

  .save {
    flex-direction: column; 
  }
}
/* vedio model */
.vdo {
  width: 100%;
  height: 400px;
}
.vedio-container {
 margin-left:20px;
  margin-top: 5px;
  color: #fff;
}
.vdo-contents {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 13px;
}
.vdo-dis {
  width: 300px;
}
.span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid gray;
  color: #fff;
  padding: 5px;
}
.span .vd-icon {
  font-size: medium;
}
.buton {
  width: 100px;
  background-color: #fff;
  color: #111;
  padding: 4px;
  margin-right: 10px;
}
.vd-icons {
  padding-top: 8px;
}
.vdo-more-container {
  position: absolute;
  display: flex;
  justify-content: start;
}
.extra-movie {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .vdo {
    height: auto; 
  }

  .vedio-container h3 {
 text-align: center;
  }

  .vdo-contents {
   padding: 10px;
    justify-content: center;
    align-items: center; 
    font-size: 16px; 
    margin-top: 0; 
  }

 .vdo-dis  {
    text-align: center;
    padding: 0px 20px;
  }

  .vdo-more-container{
    margin-top: 20px;
  }

  .extra-movie {
    padding:0px 10px;
     overflow-x: scroll; 
  }
}
/* manage profile  */
.profile-container {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: fit-content;
}
.profile-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.profile-content {
  width: 700px;
}
.profile-content h1 {
  color: #fff;
}
.profile-content .proimg {
  margin-top: 1rem;
  display: flex;
}
.profile-content img {
  width: 100px;
}

.edit-proimg input {
  position: absolute;
  display: none;
}
.edit-proimg .edit-icon {
  position: absolute;
  margin: 1rem 2rem;
  /* display: none; */
}
.edit-icons {
  color: #fff;
}
.profile-content .right {
  margin-left: 1.5rem;
}
.profile-content h3 {
  color: #fff;
  padding: 5px 0px;
  margin: 5px;
}
.profile-content p {
  color: gray;
  padding: 10px;
}
hr {
  width: 100%;
  height: 1px;
  background-color: #5c5858;
}
.swrup {
  width: 100%;
  height: 25px;
  padding: 5px;
  color: #fff;
  background-color: #b3b3b3;
}
.profile-content .eng {
  background-color: #111;
  border: 2px solid gray;
  color: #fff;
  width: 100px;
  padding: 2px;
}

.profile-content span .keybrd {
  padding-top: 10px;
  font-size: 20px;
}
.proinput {
  display: flex;
}
.pro-span {
  background-color: #292727;
  border: 1px solid gray;
  color: #fff;
  padding: 1px;
  font-size: 15px;
}
.probtn {
  display: flex;
}
.probtn .p-btn {
  margin: 10px;
  width: 100px;
  border: 1px solid gray;
  background-color: #0a0a0a;
}
.active {
  background-color: #fff !important;
  color: #111;
}
@media (max-width: 768px) {
  .profile-contents {
    width: 100%;
    height: fit-content;
  }
  .profile-content {
    width: fit-content;
  }
  hr {
    width: 100%;
  }
}
/* my list add and remove */
.mylist-container {
  background-color: #111;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mylist-container h2 {
  padding: 70px 30px;
  color: #111;
}
.mylist-content {
  display: flex;
  position: relative;
}
/* footer code start */
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 10%;
  padding-bottom: 20px;
  background-color: #111;
  color: grey;
}

.footer-section {
  display: flex;
  gap: 20px;
}

.footer-icon {
  color: #fff !important;
  font-size: 28px !important;
  cursor: pointer;
}

.footer-sectionlist {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-items {
  color: grey;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer-items:hover {
  text-decoration: underline;
}

.service {
  border: 1px solid grey;
  color: grey;
  font-size: 14px;
  width: fit-content;
  padding: 10px;
}

.copy-text {
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 550px) {
  .footerIcons {
    font-size: 22px !important;
  }

  .copyrightText,
  .serviceCode,
  .footerSectionItem {
    font-size: 10px;
  }

  .footerSectionContainer {
    padding: 80px 5%;
  }

  .footerSectionListContainer {
    gap: 20px;
  }
}
